Airline-Webservices/WebContent/wsdl/PaymentDetails.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://PassengerRegistration" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://PassengerRegistration" xmlns:intf="http://PassengerRegistration" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://PassengerRegistration" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="paymentConfim">
    <complexType>
     <sequence>
      <element name="ptype" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="paymentConfimResponse">
    <complexType>
     <sequence>
      <element name="paymentConfimReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="paymentConfimRequest">

      <wsdl:part element="impl:paymentConfim" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="paymentConfimResponse">

      <wsdl:part element="impl:paymentConfimResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="PaymentDetails">

      <wsdl:operation name="paymentConfim">

         <wsdl:input message="impl:paymentConfimRequest" name="paymentConfimRequest">

       </wsdl:input>

         <wsdl:output message="impl:paymentConfimResponse" name="paymentConfimResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PaymentDetailsSoapBinding" type="impl:PaymentDetails">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="paymentConfim">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="paymentConfimRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="paymentConfimResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PaymentDetailsService">

      <wsdl:port binding="impl:PaymentDetailsSoapBinding" name="PaymentDetails">

         <wsdlsoap:address location="http://localhost:8080/Airline-Webservices/services/PaymentDetails"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
