AirlineEclipseProject/AirlineReservation-Interfaces/WebContent/wsdl/RegisterPassenger.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://PassengerRegistration" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://PassengerRegistration" xmlns:intf="http://PassengerRegistration" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://PassengerRegistration" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="addDetails">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="contactNumber" type="xsd:int"/>
      <element name="passportNumber" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addDetailsResponse">
    <complexType>
     <sequence>
      <element name="addDetailsReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addDetailsResponse">

      <wsdl:part element="impl:addDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addDetailsRequest">

      <wsdl:part element="impl:addDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="RegisterPassenger">

      <wsdl:operation name="addDetails">

         <wsdl:input message="impl:addDetailsRequest" name="addDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:addDetailsResponse" name="addDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RegisterPassengerSoapBinding" type="impl:RegisterPassenger">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RegisterPassengerService">

      <wsdl:port binding="impl:RegisterPassengerSoapBinding" name="RegisterPassenger">

         <wsdlsoap:address location="http://localhost:8080/AirlineReservation-Webservices/services/RegisterPassenger"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
