airlinereservationsystems/WebContent/wsdl/fetchbookingdetails.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="booking">
    <complexType>
     <sequence>
      <element name="passengerID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="bookingResponse">
    <complexType>
     <sequence>
      <element name="bookingReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="fetchFlightDetails">
    <complexType>
     <sequence>
      <element name="flightID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="fetchFlightDetailsResponse">
    <complexType>
     <sequence>
      <element name="fetchFlightDetailsReturn" type="impl:FlightDetails"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="FlightDetails">
    <sequence>
     <element name="departureLocation" nillable="true" type="xsd:string"/>
     <element name="arrivalLocation" nillable="true" type="xsd:string"/>
     <element name="departureDate" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="bookingResponse">

      <wsdl:part element="impl:bookingResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="fetchFlightDetailsResponse">

      <wsdl:part element="impl:fetchFlightDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="bookingRequest">

      <wsdl:part element="impl:booking" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="fetchFlightDetailsRequest">

      <wsdl:part element="impl:fetchFlightDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="fetchbookingdetails">

      <wsdl:operation name="booking">

         <wsdl:input message="impl:bookingRequest" name="bookingRequest">

       </wsdl:input>

         <wsdl:output message="impl:bookingResponse" name="bookingResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="fetchFlightDetails">

         <wsdl:input message="impl:fetchFlightDetailsRequest" name="fetchFlightDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:fetchFlightDetailsResponse" name="fetchFlightDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="fetchbookingdetailsSoapBinding" type="impl:fetchbookingdetails">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="booking">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="bookingRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="bookingResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="fetchFlightDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="fetchFlightDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="fetchFlightDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="fetchbookingdetailsService">

      <wsdl:port binding="impl:fetchbookingdetailsSoapBinding" name="fetchbookingdetails">

         <wsdlsoap:address location="http://localhost:8080/airlinereservationsystems/services/fetchbookingdetails"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
