airlinereservationsystems/WebContent/wsdl/FlightDetails.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://PassengerRegistration" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://PassengerRegistration" xmlns:intf="http://PassengerRegistration" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://PassengerRegistration" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="bookFlight">
    <complexType>
     <sequence>
      <element name="flightId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="bookFlightResponse">
    <complexType>
     <sequence>
      <element name="bookFlightReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="bookFlightRequest">

      <wsdl:part element="impl:bookFlight" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="bookFlightResponse">

      <wsdl:part element="impl:bookFlightResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="FlightDetails">

      <wsdl:operation name="bookFlight">

         <wsdl:input message="impl:bookFlightRequest" name="bookFlightRequest">

       </wsdl:input>

         <wsdl:output message="impl:bookFlightResponse" name="bookFlightResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="FlightDetailsSoapBinding" type="impl:FlightDetails">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="bookFlight">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="bookFlightRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="bookFlightResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="FlightDetailsService">

      <wsdl:port binding="impl:FlightDetailsSoapBinding" name="FlightDetails">

         <wsdlsoap:address location="http://localhost:8080/airlinereservationsystems/services/FlightDetails"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
