airlinereservationsystems/WebContent/wsdl/RefundTicket.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="refund">
    <complexType>
     <sequence>
      <element name="PassengerID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="refundResponse">
    <complexType>
     <sequence>
      <element name="refundReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="refundResponse">

      <wsdl:part element="impl:refundResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="refundRequest">

      <wsdl:part element="impl:refund" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="RefundTicket">

      <wsdl:operation name="refund">

         <wsdl:input message="impl:refundRequest" name="refundRequest">

       </wsdl:input>

         <wsdl:output message="impl:refundResponse" name="refundResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RefundTicketSoapBinding" type="impl:RefundTicket">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="refund">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="refundRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="refundResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RefundTicketService">

      <wsdl:port binding="impl:RefundTicketSoapBinding" name="RefundTicket">

         <wsdlsoap:address location="http://localhost:8080/airlinereservationsystems/services/RefundTicket"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
